@media (prefers-color-scheme: light) {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #4a49f5;
    --secondary: #f0f0f0;
    --accent: #ffb347;
    --logo-fg: var(--primary);
    --tag-bg: var(--accent);
    --tag-fg: var(--text);
    --article-bg: var(--secondary);
    --readmore-bg: var(--primary);
    --readmore-fg: var(--secondary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #252525;
    --primary: #3a31d8;
    --secondary: #424242;
    --accent: #ffcb71;
    --logo-fg: var(--accent);
    --tag-bg: var(--primary);
    --tag-fg: var(--text);
    --article-bg: var(--secondary);
    --readmore-bg: var(--accent);
    --readmore-fg: var(--secondary);
  }
}

header {
  div {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    a {
      font-weight: bold;
      text-decoration: none;
      font-size: 2rem;
      padding: 1rem;
      color: var(--logo-fg);
    }
  }
}

body {
  background: var(--background);
  color: var(--text);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    padding: 2rem 0;
    font-style: italic;
  }
}

.index-page {
  .articles {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    li {
      gap: 1rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 2rem;
      background: var(--article-bg);
      border-radius: 0.5rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .readmore {
        width: 100%;
        display: flex;
        justify-content: end;

        a {
          background: var(--readmore-bg);
          color: var(--readmore-fg);
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

.post-page {
  .tags {
    display: flex;
    gap: 0.5rem;

    ul {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;

      li {
        background: var(--tag-bg);
        color: var(--tag-fg);
        padding: 0 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  .markdown-body {
    ul,
    ol {
      list-style: unset;
    }

    max-width: 1200px;
    padding: 4rem 0;
  }
}
