package templates

import (
	"peterszarvas94/blog/pkg"
)

templ CategoryPage(category string, files []*pkg.FileData) {
	@head()
	@categoryBody(category, files)
}

templ categoryBody(category string, files []*pkg.FileData) {
	<body>
		@header()
		<main class="page category-page">
			<h1>
				@categoryIcon()
				<div>{ category }</div>
			</h1>
			@articleList(files)
		</main>
		@footer()
	</body>
}
