package templates

import (
	"peterszarvas94/blog/theme/templates/components"
)

templ CustomPage() {
	@components.Head()
	@customBody()
}

templ customBody() {
	<body>
		@components.Header()
		<main class="page custom-page">
			<h1>
				This is a custom page
			</h1>
			<a href="/">Go back to the homepage</a>
		</main>
		@components.Footer()
	</body>
}
