package templates

import (
	"fmt"
	"peterszarvas94/blog/pkg"
)

templ TagPage(tag string, files []*pkg.FileData) {
	@page(tagBody(tag, files))
}

templ tagBody(tag string, files []*pkg.FileData) {
	<body>
		@header()
		<main class="page tag-page">
			<h1>{ fmt.Sprintf("#%s", tag) }</h1>
			for _, file:= range files {
				<div>
					<a href={ templ.SafeURL(file.Filename) }>
						{ file.Matter.Title }
					</a>
				</div>
			}
		</main>
	</body>
}
