@media (prefers-color-scheme: light) {
  :root {
    --text: #033007;
    --background: #ecfeef;
    --primary: #08811c;
    --secondary: #9956f5;
    --accent: #de0dad;
    --logo: #033007;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #d0fcd4;
    --background: #011505;
    --primary: #7ff792;
    --secondary: #4b0aa8;
    --accent: #f220c1;
    --logo: #033007;
  }
}

ul {
  list-style: unset;
}

header {
  background-color: var(--accent);

  a {
    font-weight: bold;
    text-decoration: none;
    color: var(--logo);
    font-size: 2rem;
    padding: 1rem;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    padding: 2rem 0;
    font-style: italic;
  }
}

.post-page {
  .tags {
    display: flex;
    gap: 0.5rem;

    ul {
      display: flex;
      gap: 0.5rem;
      list-style: none;
    }

    a {
      text-decoration: underline;
    }
  }

  .markdown-body {
    max-width: 1200px;
    padding: 4rem 0;
  }
}
