package templates

import (
	"peterszarvas94/blog/pkg"
)

templ IndexPage(posts *[]pkg.FileInfo) {
	@page(indexBody(posts))
}

templ indexBody(posts *[]pkg.FileInfo) {
	<body>
		@header()
		for _, post := range *posts {
			<div>
				<a href={ templ.SafeURL(pkg.GetPath(&post)) }>
					{ post.Matter.Title }
				</a>
			</div>
		}
	</body>
}
