package templates

import "peterszarvas94/blog/pkg"

templ SearchPage() {
	@head() {
		<script src="/static/search.js" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/minisearch@7.1.0/dist/umd/index.min.js"></script>
	}
	@searchBody()
}

var emptyList = []*pkg.FileData{}

templ searchBody() {
	<body>
		@header()
		<main class="page search-page">
			<h1>Search</h1>
			@articleList(emptyList)
		</main>
		@footer()
	</body>
}
