package templates

import (
	"peterszarvas94/blog/pkg"
)

templ TagPage(tag string, files []*pkg.FileData) {
	@head()
	@tagBody(tag, files)
}

templ tagBody(tag string, files []*pkg.FileData) {
	<body>
		@header()
		<main class="page tag-page">
			<h1>
				<div>#</div>
				<div>tag /</div>
				<div>{ tag }</div>
			</h1>
			for _, file:= range files {
				<div>
					<a href={ templ.SafeURL(file.Fileroute) }>
						{ file.Matter.Title }
					</a>
				</div>
			}
		</main>
	</body>
}
