package templates

import (
	"fmt"
	"peterszarvas94/blog/pkg"
)

templ CategoryPage(category string, files []*pkg.FileData) {
	@page(categoryBody(category, files))
}

templ categoryBody(category string, files []*pkg.FileData) {
	<body>
		@header()
		<main class="page category-page">
			<h1>{ fmt.Sprintf("#%s", category) }</h1>
			for _, file:= range files {
				<div>
					<a href={ templ.SafeURL(file.Fileroute) }>
						{ file.Matter.Title }
					</a>
				</div>
			}
		</main>
	</body>
}
