package templates

import (
	"peterszarvas94/blog/pkg"
)

templ IndexPage(files []*pkg.FileData) {
	@page(indexBody(files))
}

templ indexBody(files []*pkg.FileData) {
	<body>
		@header()
		<main class="page index-page">
			<h1>Articles</h1>
			for _, file:= range files {
				<div>
					<a href={ templ.SafeURL(file.Filename) }>
						{ file.Matter.Title }
					</a>
				</div>
			}
		</main>
	</body>
}
