package templates

import (
	"peterszarvas94/blog/pkg"
	"peterszarvas94/blog/config"
)

templ IndexPage(files []*pkg.FileData) {
	@head()
	@indexBody(files)
}

templ indexBody(files []*pkg.FileData) {
	<body>
		@header()
		<main class="page index-page">
			<h1>{ config.IndexTitle }</h1>
			@articleList(files)
		</main>
		@footer()
	</body>
}
